/*IMPORT*/
/*font*/
/* @mixin transition($duration) {*/
/*     -webkit-transition: $duration;*/
/*     -moz-transition: $duration;*/
/*     -ms-transition: $duration;*/
/*     -o-transition: $duration;*/
/*     transition: $duration;*/
/* }*/
/* 40px*/
/* 16px*/
/* 32px*/
/*colors*/
/*container*/
/*responsive breaks*/
/* @mixin transition($duration) {*/
/*     -webkit-transition: $duration;*/
/*     -moz-transition: $duration;*/
/*     -ms-transition: $duration;*/
/*     -o-transition: $duration;*/
/*     transition: $duration;*/
/* }*/
/************************* 
     Max-width:1680px
**************************/
@media (max-width: 1680px) {
  .text {
    font-size: 20px; }
  .container {
    padding: 0 20px; }
  .top {
    height: 710px; }
  header {
    padding: 30px 0; }
  .team .title {
    font-size: 75px; }
  .team .text {
    margin-top: 60px; }
  .team .right img {
    width: 420px; }
  #aboutUs .container {
    padding: 0 200px; }
  #whatDo .container {
    padding: 0 200px; }
  footer {
    overflow: hidden;
    margin-top: -60px; }
    footer #footerBg {
      height: 100%; }
  .careers .container {
    padding: 0 40px; }
  .vacancy #vacancyBg {
    height: 100%; } }

/************************* 
     Max-width:1200px
**************************/
@media (max-width: 1200px) {
  .title {
    font-size: 40px; }
  .top {
    height: 600px; }
  header .logo a {
    width: 160px; }
  .team .title {
    font-size: 65px; }
  .team .right img {
    width: 390px; }
  #aboutUs {
    padding-bottom: 100px; }
    #aboutUs .container {
      padding: 0 140px; }
  #whatDo .container {
    padding: 0 140px; }
  .stats {
    margin: 160px 0 140px; }
    .stats .title {
      margin-bottom: 140px; }
    .stats .statValue {
      font-size: 70px; }
    .stats .statName {
      font-size: 30px; }
  #perks .container {
    margin-bottom: 60px; }
  #perks .perksBg {
    height: 60%; }
  #perks .title {
    margin-bottom: 120px; }
  .vacancy {
    overflow: hidden; }
    .vacancy .container {
      padding: 110px 110px; }
    .vacancy .title {
      margin-bottom: 80px; }
  footer {
    padding-top: 60px; }
    footer .contacts {
      margin-top: 25px; }
  .banner {
    height: 550px;
    margin-bottom: 70px; }
  .careers .sidebar .career {
    padding: 7px 10px 11px;
    font-size: 22px; }
    .careers .sidebar .career:after {
      top: 4.4px;
      width: 35px;
      height: 35px; } }

/************************* 
     Max-width:980px
**************************/
@media (max-width: 980px) {
  .btn a {
    padding: 5px 20px 8px;
    font-size: 18px; }
  .text {
    font-size: 18px; }
  .top {
    height: 430px;
    margin-bottom: 50px; }
  header .logo a {
    width: 150px; }
  header nav li {
    padding: 0 8px; }
  header nav a {
    font-size: 14px; }
  .team .title {
    font-size: 55px; }
  .team .text {
    font-size: 18px; }
  .team .left {
    margin-top: 30px; }
  .team .right img {
    width: 100%;
    max-width: 350px; }
  #aboutUs .container {
    padding: 0 40px; }
  #whatDo .container {
    padding: 0 40px; }
  #whatDo img {
    max-width: 220px; }
  .stats {
    margin: 120px 0 110px; }
    .stats .container {
      padding: 0 20px; }
    .stats .statValue {
      font-size: 65px; }
    .stats .statName {
      font-size: 25px; }
  #perks .perksBg {
    height: 35%; }
  #perks .container {
    margin-bottom: 10px;
    padding: 0 20px; }
  #perks .title {
    margin-bottom: 100px; }
  #perks .perksWrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #perks .perksWrap > div {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      margin-bottom: 70px;
      text-align: center; }
  #perks .perksImg {
    margin-bottom: 30px; }
  .jobPost {
    font-size: 35px; }
    .jobPost .title:after {
      margin: 0; }
    .jobPost .text {
      text-align: left; }
  .careers .sidebar .career {
    font-size: 17px; }
    .careers .sidebar .career:after {
      top: 3.4px;
      width: 30px;
      height: 30px; }
  .careers .title {
    text-align: left; } }

/************************* 
     Max-width:736px
**************************/
@media (max-width: 736px) {
  .burgerMenu {
    display: block; }
  .title {
    text-align: center; }
    .title:after {
      left: 0;
      right: 0;
      margin: auto; }
  .top {
    height: auto; }
  #mainBg {
    top: 137px;
    height: 51%; }
  header {
    padding: 40px 0; }
    header nav {
      display: none; }
  .text {
    text-align: center; }
  .team {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; }
    .team > div {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
    .team .left {
      margin-top: 100px; }
    .team .right {
      margin-top: 50px; }
    .team .title {
      text-align: center; }
      .team .title:after {
        bottom: -20%; }
    .team .text {
      font-size: 20px; }
  #aboutUs .usBgOne {
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%);
    transform: translateY(70%);
    height: 50%; }
  #aboutUs .usBgTwo {
    display: none; }
  #whatDo {
    text-align: center; }
    #whatDo img {
      width: 55%;
      float: none;
      margin: 0 0 40px; }
    #whatDo .text {
      text-align: center;
      margin-left: 0; }
  .stats .statsWrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .stats .statsWrap > div {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 120px; }
  .stats .statValue {
    font-size: 80px; }
  .stats .statName {
    font-size: 33px; }
  #perks .perksBg {
    height: 23%;
    -webkit-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-90%); }
  #perks .perksWrap > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .vacancy .container {
    padding: 110px 35px 80px; }
  .vacancy .vacancySlide {
    padding: 20px 25px; }
  .vacancy .position {
    font-size: 30px; }
  .vacancy .location {
    font-size: 20px; }
  .vacancy .vacancyLink {
    padding: 15px 5px;
    font-size: 22px; }
  footer .social li {
    width: 40px;
    height: 40px; }
    footer .social li a {
      line-height: 40px; }
  .careers .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .careers .container > * {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding: 0; }
  .careers .title {
    margin-bottom: 30px;
    text-align: center; }
    .careers .title:after {
      margin: auto; }
  .careers .text {
    text-align: center; }
  .careers .sidebar {
    margin-bottom: 50px; }
    .careers .sidebar ul {
      display: none; }
    .careers .sidebar select {
      display: block; }
  .careers .qualif .heading {
    position: relative;
    font-family: gentonaBook;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .careers .qualif .heading:before {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: -15px;
      margin: 0 auto; }
    .careers .qualif .heading:after {
      display: none; }
  .careers .qualif .text {
    display: block; } }

/************************* 
     Max-width:480px
**************************/
@media (max-width: 480px) {
  .container {
    padding: 0 15px; }
  .title {
    font-size: 30px; }
  .stats .statValue {
    font-size: 65px; }
  .careers .container {
    padding: 0 15px; }
  .careers .sidebar select {
    font-size: 25px; }
  .careers .sidebar .selectWrap:after {
    padding: 8px; } }
